/*-----PROPRIEDADES CUSTOMIZADAS-----*/

:root{
    /*CORES*/
   --cinza:  #404041;

   /*BORDA*/
   --borda: 1px solid #fff;
   --borda-curva: 5px;
   --brilho: 0px 0px 30px 5px hsl(0, 0%, 100%, 0.25);
   --brilho-2: 0px 0px 60px 5px hsl(0, 0%, 100%, 0.5);

   /*FONTES*/
   --ff-bruno: "Bruno Ace SC";
   --ff-poppins: "Poppins";

   /*TAMANHOS*/
   --h1-96: 6rem;
   --h2-32: 2rem;
   --h3-24: 1.5rem;
   --h4-20: 1.25rem;
}

/*-----RESET-----*/
*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(../img/aleksandar.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
}

main{
    background-color: rgb(43, 31, 18);
}

.titulo{
    text-align: center;
    margin: 5%;
    font-family: var(--ff-bruno);
    font-size: var(--h1-96);
}

.caixa{
    width: 30%;
    border: var(--borda);
    border-radius: var(--borda-curva);
    box-shadow: var(--brilho);
}

.caixa:hover{
    box-shadow: var(--brilho-2);
}

.menor{
    justify-self: end;
    margin-right: 10%;
    margin-bottom: 5%;
}

.maior{
    justify-self: center;
    width: 60%;
    align-self: end;
}

.sub-titulo{
    display: flex;
    justify-content: center;
    height: auto;
    padding: 1%;
    border-bottom: var(--borda);
    font-size: var(--h3-24);
    font-family: var(--ff-bruno);
    background-color: var(--cinza);
}

.texto{
    margin: 4%;
    display: flex;
    font-family: var(--ff-poppins);
    text-align: center;
}

ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: start;
    padding: 0 10% 3%;
    font-family: var(--ff-poppins);
}

li{
    margin-top: 10%;
    font-size: var(--h4-20);
}

@media (max-width: 1024px){
    html{
        font-size: 10px;
    }
}

@media (max-width: 768px){
    html{
        font-size: 10px;
    }
}