/*-----PROPRIEDADES CUSTOMIZADAS-----*/
:root{
    /*CORES*/
   --cinza:  #404041;

   /*BORDA*/
   --borda: 1px solid #fff;
   --borda-curva: 5px;
   --brilho: 0px 0px 30px 5px hsl(0, 0%, 100%, 0.25);
   --brilho-2: 0px 0px 60px 5px hsl(0, 0%, 100%, 0.5);

   /*FONTES*/
   --ff-bruno: "Bruno Ace SC";
   --ff-poppins: "Poppins";

   /*TAMANHOS*/
   --h0-128: 8rem;
   --h1-96: 6rem;
   --h2-32: 2rem;
   --h3-24: 1.5rem;
   --h4-20: 1.25rem;
}

/*-----RESET-----*/
*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background-image: url(../img/aleksandar.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header{
    display: flex;
    justify-content: center;
    color: aliceblue;
    margin-top: 40px;
    height: 50px;
}

.menu{
    margin: 10px;
   justify-content: center;
   align-items: center;
   font-size: 20px;
   margin-left: 120px;
     font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif    
}

.login{
    position: relative;
    left: 300px;
    border-radius: 10px;
    width: 80px;
    height: 30px;
    background-color: blue;
    color: aliceblue;

}

.logo{
    position: absolute;
    top: 0;
    left: 0;
    width: 150px;
    height: auto;
}

.banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.titulo{
    position: relative;
    top: 100px; 
    color: #fff;
    text-align: center;
    font-size: var(--h0-128);
    font-family: var(--ff-bruno);   
}

.imagem{
    z-index: -1;
    position: relative;
    top: -200px;
}
