:root{
    /*CORES*/
   --cinza:  #404041;

   /*BORDA*/
   --borda: 1px solid #fff;
   --borda-curva: 5px;
   --brilho: 0px 0px 30px 5px hsl(0, 0%, 100%, 0.25);
   --brilho-2: 0px 0px 60px 5px hsl(0, 0%, 100%, 0.5);

   /*FONTES*/
   --ff-bruno: "Bruno Ace SC";
   --ff-poppins: "Poppins";
   --ff-smooch: 'Smooch Sans', sans-serif;

   /*TAMANHOS*/
   --h1-96: 6rem;
   --h2-32: 2rem;
   --h3-24: 1.5rem;
   --h4-20: 1.25rem;
}

/*-----RESET-----*/
*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(../img/aleksandar.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
}

a{
  text-decoration: none;
}


.header{
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5%;
  color: aliceblue;
  margin-top: 20px;
}

.logo{
  width: 80px;
  height: auto;
  margin-right: 50px;
}

.menu{
  width: 25%;
  display: flex;
  justify-content: space-around;
  font-size: var(--h4-20);
  font-family: var(--ff-bruno);  
}

.menu a {
color:  #fff;
}

.menu a:hover {
  color: #006eff;
  text-decoration: underline;
}

.login > .inp {
display: none;
}

.login {
font-weight: 800;
font-family: var(--ff-bruno);
position: relative;
color: white;
background-color: #004AAD;
padding: 3px 15px;
border-radius: 10px;
display: flex;
align-items: center;
height: 2.5rem;
width: 12rem;
cursor: pointer;
justify-content: space-between;
transform: scale(1.0);
}

.login:hover{
  transform: scale(1.03);
}

.login > .inp:checked + .arrow {
transform: rotateX(180deg);
}

.menu-container {
background-color: white;
color: #004AAD;
border-radius: 10px;
position: absolute;
width: 100%;
left: 0;
align-items: center;
top: 130%;
overflow: hidden;
clip-path: inset(0% 0% 0% 0% round 10px);
transition: all 0.4s;
}

.menu-list {
--delay: 0.4s;
--trdelay: 0.15s;
padding: 8px 10px;
border-radius: inherit;
transition: background-color 0.2s 0s;
position: relative;
transform: translateY(30px);
opacity: 0;
}

.menu-list a{
font-family: var(--ff-poppins);
font-weight: 600;
color: #004AAD;
}

.menu-list::after {
content: "";
position: absolute;
top: 100%;
left: 50%;
transform: translateX(-50%);
height: 1px;
background-color: rgba(0, 0, 0, 0.3);
width: 95%;
}

.menu-list:hover {
background-color: rgb(223, 223, 223);
}

.inp:checked ~ .menu-container {
clip-path: inset(10% 50% 90% 50% round 10px);
}

.inp:not(:checked) ~ .menu-container .menu-list {
transform: translateY(0);
opacity: 1;
}

.inp:not(:checked) ~ .menu-container .menu-list:nth-child(1) {
  transition:
    transform 0.4s calc(var(--delay) + (var(--trdelay) * 1)),
    opacity 0.4s calc(var(--delay) + (var(--trdelay) * 1));
  }

.inp:not(:checked) ~ .menu-container .menu-list:nth-child(2) {
transition:
  transform 0.4s calc(var(--delay) + (var(--trdelay) * 1)),
  opacity 0.4s calc(var(--delay) + (var(--trdelay) * 1));
}

.inp:not(:checked) ~ .menu-container .menu-list:nth-child(3) {
transition:
  transform 0.4s calc(var(--delay) + (var(--trdelay) * 2)),
  opacity 0.4s calc(var(--delay) + (var(--trdelay) * 2));
}

.inp:not(:checked) ~ .menu-container .menu-list:nth-child(4) {
transition:
  transform 0.4s calc(var(--delay) + (var(--trdelay) * 3)),
  opacity 0.4s calc(var(--delay) + (var(--trdelay) * 3));
}

.bar-inp {
-webkit-appearance: none;
display: none;
visibility: hidden;
}

.bar {
display: flex;
height: 50%;
width: 20px;
flex-direction: column;
gap: 3px;
}

.bar-list {
--transform: -25%;
display: block;
width: 100%;
height: 3px;
border-radius: 50px;
background-color: white;
transition: all 0.4s;
position: relative;
}

.inp:not(:checked) ~ .bar > .top {
transform-origin: top right;
transform: translateY(var(--transform)) rotate(-45deg);
}

.inp:not(:checked) ~ .bar > .middle {
transform: translateX(-50%);
opacity: 0;
}

.inp:not(:checked) ~ .bar > .bottom {
transform-origin: bottom right;
transform: translateY(calc(var(--transform) * -1)) rotate(45deg);
}


.title{
  font-family: var(--ff-bruno);
  justify-self: center;
  margin-top: 2%;
  font-size: 90px;
  text-align: center;
}

/*card1*/
.info{
  display: flex;
  align-items: center;
  justify-content: end;
  margin-top: 5%;
  margin-bottom: 2%;
  margin-right: 10%;
  margin-left: 5%;
  gap: 10%;
}

.caixa{
  background-image: url(../img/rocha.png) !important;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 400px;
  width: 600px;
  border-radius: 10px;
  transition: 1.5s;
  cursor: pointer;
}

.caixa:hover{
  box-shadow: 10px 10px 35px 10px hsl(0, 0%, 100%, 0.5);
  transition: 1.5s;
  transform: scale(1.2) rotate(15deg)
}

.tipo{
    font-family: var(--ff-bruno);
    font-size: 50px;
}

.text{
  width: 70%;
  text-align: justify;
  justify-self: center;
  font-family: var(--ff-smooch);
  font-weight: 400;
  font-size: 26px;
  margin-bottom: 2%;
}

.linha{
  width: 70%;
  display: flex;
  justify-self: center;
}

/*card2*/
.caixa2{
  background-image: url(../img/caixa_2.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 400px;
  width: 600px;
  border-radius: 10px;
  transition: 1.5s;
}

.caixa2:hover{
  box-shadow: 10px 10px 35px 10px hsla(231, 73%, 55%, 0.5);
  transition: 1.5s;
  filter: grayscale(100%);
  transform: scale(1.1);
}


/*card3*/
.info2{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
}

.meteoro{
  font-family: var(--ff-bruno);
  font-size: 50px;
  margin-bottom: 1%;
}

.caixa3{
  background-image: url(../img/meteoro-mais-antigo.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 300px;
  width: 70%;
  border-radius: 10px;
  transition: 1.5s;
  margin-bottom: 2%;
 
}

.caixa3:hover{
  box-shadow: 10px 10px 35px 10px hsla(12, 77%, 41%, 0.5);
  transition: 1.5s;
  filter: grayscale(100%);
}

/*footer*/
.card{
  display: flex;
  justify-content: center;
  position: relative;
  cursor: pointer;
  margin-top: 50px;
  gap: 20px;
}

.icon-footer{
  width: 50px;
}

 @keyframes bounce_613 {
   100% {
     transform: scale(1);
   }
 }

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
}
  
  ooter p{
  position: relative;
  z-index: 6;
}

.copy{
  padding-bottom: 25px;
}

.card1{
  display: flex;  
  position: relative;
  gap: 18px;
  z-index: 10;
  }
  
  .facebook:hover{
    background-color: #3d77cf;
    border-radius: 10px; 
  }
  
  .instagram:hover{
    background-color: #7a2d63;
    border-radius: 10px; 
  }
  
  .youtube:hover{
    background-color: #852121;
    border-radius: 10px;
  }
  
  .twitter:hover{
    background-color: #b480cc;
    border-radius: 10px;
  }

/*responsividade*/
@media (max-width: 480px){
  .logo{
    position: relative;
    left: -30px;
    width: 40px;
    margin-right: 10px;
  }

  .menu{
    font-size: 10px;
    gap: 8px;
    position: relative;
    right: 40px;
  }

  .login{
    width: 3.5rem;
    height: 2rem;
    font-size: 8px;
    position: relative;
    left: 25px;
  }

  .bar{
    display: none;
  }

  .title{
    font-size: var(--h2-32);
  }

  .tipo{
    font-size: var(--h4-20);
  }

  .text{
    font-size: 12px;
  }

  .caixa,
  .caixa2, 
  .caixa3{
    height: 150px;
  }

   /*fotter*/
   .card1{
    position: relative;
    top: -5px;
  }

  .copy{
    padding-bottom: 50px;
  }

  .facebook, 
  .instagram, 
  .youtube, 
  .twitter{
    width: 30px;
  }
}

@media (min-width: 481px) and (max-width:649px){
  .logo{
    width: 60px;
  }

  .menu{
    width: 30%;
    font-size: 14px;
    gap: 8px;
    position: relative;
    right: 45px;
  }

  .login{
    width: 6.0rem;
    font-size: 14px;
    position: relative;
    left: 20px;
  }

  .bar{
    display: none;
  }

  .title{
    font-size: var(--h2-32);
  }

  .tipo{
    font-size: var(--h4-20);
  }

  .text{
    font-size: 14px;
  }

  .caixa,
  .caixa2, 
  .caixa3{
    height: 175px;
  }

   /*fotter*/
   .card1{
    position: relative;
    top: -5px;
  }

  .copy{
    padding-bottom: 50px;
  }

  .facebook, 
  .instagram, 
  .youtube, 
  .twitter{
    width: 35px;
  }
}

@media (min-width: 650px) and (max-width:767px){
  .logo{
    width: 60px;
  }

  .menu{
    font-size: 14px;
    gap: 8px;
    position: relative;
    right: 45px;
  }

  .login{
    width: 6.0rem;
    font-size: 14px;
    position: relative;
    left: 20px;
  }

  .title{
    font-size: 3rem;
  }

  .tipo{
    font-size: var(--h3-24);
  }

  .text{
    font-size: 1rem;
  }

  .caixa,
  .caixa2, 
  .caixa3{
    height: 200px;
  }

   /*fotter*/
   .card1{
    position: relative;
    top: -5px;
  }

  .copy{
    position: relative;
    padding-bottom: 50px;
  }

  .facebook, 
  .instagram, 
  .youtube, 
  .twitter{
    width: 40px;
  }
}

@media(min-width: 768px) and (max-width: 1024px){
  .menu{
    font-size: 1rem;
    gap: 10px;
    position: relative;
    right: 45px;
  }

  .login{
    width: 6.0rem;
    font-size: 14px;
    position: relative;
    left: 20px;
  }

  .bar-list{
    width: 15px;
    height: 5px;
    position: relative;
    left:10px;
  }

  .title{
    font-size: 3rem;
  }

  .tipo{
    font-size: var(--h2-32);
  }

  .text{
    font-size: 1.25rem;
  }

  .caixa,
  .caixa2, 
  .caixa3{
    height: 250px;
  }

   /*fotter*/
  .card1{
    position: relative;
    top: -5px;
  }

  .copy{
    padding-bottom: 50px;
  }
}

@media(min-width: 1025px) and (max-width: 1350px){
  .logo{
    margin-right: 0px;
  }

  .menu{
    width: 35%;
    font-size: 1rem;
  }

  .title{
    font-size: 3rem;
  }

  .tipo{
    font-size: var(--h2-32);
  }

  .text{
    font-size: var(--h3-24);
  }

  .caixa,
  .caixa2, 
  .caixa3{
    height: 300px;
  }

   /*fotter*/
  .card1{
    position: relative;
    top: -5px;
  }

  .copy{
    padding-bottom: 50px;
  }
}