/*-----PROPRIEDADES CUSTOMIZADAS-----*/
:root{
    /*CORES*/
   --cinza:  #404041;

   /*BORDA*/
   --borda: 1px solid #fff;
   --borda-curva: 5px;
   --brilho: 0px 0px 30px 5px hsl(0, 0%, 100%, 0.25);
   --brilho-2: 0px 0px 60px 5px hsl(0, 0%, 100%, 0.5);

   /*FONTES*/
   --ff-bruno: "Bruno Ace SC";
   --ff-poppins: "Poppins";

   /*TAMANHOS*/
   --h1-96: 6rem;
   --h2-32: 2rem;
   --h3-24: 1.5rem;
   --h4-20: 1.25rem;
}

/*-----RESET-----*/
*,
*::before,
*::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-image: url(../img/aleksandar.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  height: 100vh;
}

main{
  height: 200px;
}

a{
  text-decoration: none;
}

.header{
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5%;
  color: aliceblue;
  margin-top: 20px;
}

.logo{
  width: 80px;
  height: auto;
  margin-right: 50px;
}

.login1{
  width: 50px;
  background-color: white;
  border-radius: 50%;
}

.menu{
  width: 25%;
  display: flex;
  justify-content: space-around;
  font-size: var(--h4-20);
  font-family: var(--ff-bruno);  
}

.menu a {
color:  #fff;
}

.menu a:hover {
  color: #006eff;
  text-decoration: underline;
}

.login > .inp {
display: none;
}

.login {
  font-weight: 800;
  font-family: var(--ff-bruno);
  position: relative;
  color: white;
  background-color: #004AAD;
  padding: 3px 15px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  height: 2.5rem;
  width: 12rem;
  cursor: pointer;
  justify-content: space-between;
  transform: scale(1.0);
  }
  
  .login:hover{
    transform: scale(1.03);
  }
  
  .login > .inp:checked + .arrow {
  transform: rotateX(180deg);
  }

.menu-container {
background-color: white;
color: #004AAD;
border-radius: 10px;
position: absolute;
width: 100%;
left: 0;
align-items: center;
top: 130%;
overflow: hidden;
clip-path: inset(0% 0% 0% 0% round 10px);
transition: all 0.4s;
}

.menu-list {
--delay: 0.4s;
--trdelay: 0.15s;
border-radius: inherit;
transition: background-color 0.2s 0s;
position: relative;
transform: translateY(30px);
opacity: 0;
}

.menu-list a{
font-family: var(--ff-poppins);
font-weight: 600;
color: #004AAD;
}

.menu-list::after {
content: "";
position: absolute;
top: 100%;
left: 50%;
transform: translateX(-50%);
height: 1px;
background-color: rgba(0, 0, 0, 0.3);
width: 95%;
}

.menu-list:hover {
background-color: rgb(223, 223, 223);
}

.inp:checked ~ .menu-container {
clip-path: inset(10% 50% 90% 50% round 10px);
}

.inp:not(:checked) ~ .menu-container .menu-list {
transform: translateY(0);
opacity: 1;
}

.inp:not(:checked) ~ .menu-container .menu-list:nth-child(1) {
  transition:
    transform 0.4s calc(var(--delay) + (var(--trdelay) * 1)),
    opacity 0.4s calc(var(--delay) + (var(--trdelay) * 1));
  }

.inp:not(:checked) ~ .menu-container .menu-list:nth-child(2) {
transition:
  transform 0.4s calc(var(--delay) + (var(--trdelay) * 1)),
  opacity 0.4s calc(var(--delay) + (var(--trdelay) * 1));
}

.inp:not(:checked) ~ .menu-container .menu-list:nth-child(3) {
transition:
  transform 0.4s calc(var(--delay) + (var(--trdelay) * 2)),
  opacity 0.4s calc(var(--delay) + (var(--trdelay) * 2));
}

.inp:not(:checked) ~ .menu-container .menu-list:nth-child(4) {
transition:
  transform 0.4s calc(var(--delay) + (var(--trdelay) * 3)),
  opacity 0.4s calc(var(--delay) + (var(--trdelay) * 3));
}

.bar-inp {
-webkit-appearance: none;
display: none;
visibility: hidden;
}

.bar {
display: flex;
height: 50%;
width: 20px;
flex-direction: column;
gap: 3px;
}

.bar-list {
--transform: -25%;
display: block;
width: 100%;
height: 3px;
border-radius: 50px;
background-color: white;
transition: all 0.4s;
position: relative;
}

.inp:not(:checked) ~ .bar > .top {
transform-origin: top right;
transform: translateY(var(--transform)) rotate(-45deg);
}

.inp:not(:checked) ~ .bar > .middle {
transform: translateX(-50%);
opacity: 0;
}

.inp:not(:checked) ~ .bar > .bottom {
transform-origin: bottom right;
transform: translateY(calc(var(--transform) * -1)) rotate(45deg);
}

  

/*PLANETA*/

h1{
  text-align: center;
  font-family: var(--ff-bruno);
  font-size: var(--h1-96);
  margin-top: 2%;
}

.grupo-info{
  display: flex;
  justify-self: center;
  justify-content: center;
  align-items: center;
  width: 60%;
  margin: 2% 5%;
}

img{
  width: 60%;
}
.caixa-menor{
  border: var(--borda);
  border-radius: var(--borda-curva);
  box-shadow: var(--brilho);
  font-family: var(--ff-poppins);
  text-align: justify;
}

.sub-titulo{
  font-weight: lighter;
  font-family: var(--ff-bruno);
  font-size: var(--h3-24);
  text-align: center;
  border-bottom: var(--borda);
  background-color: var(--cinza);
  padding: 10px;
}

p{
  padding: 10px;
}

ul{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: start;
  padding: 0 5% 3%;
  font-family: var(--ff-poppins);
  gap: 5%;
}

li{
  margin-top: 10%;
  font-size: var(--h4-20);
}

.caixa-maior{
  border: var(--borda);
  border-radius: var(--borda-curva);
  box-shadow: var(--brilho);
  width: 70%;
  justify-self: center;
}


/*footer*/
.card{
  display: flex;
  justify-content: center;
  position: relative;
  cursor: pointer;
  margin-top: 50px;
  gap: 20px;
}

.icon-footer{
  width: 50px;
}

 @keyframes bounce_613 {
   100% {
     transform: scale(1);
   }
 }

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
}
  
  footer p{
  position: relative;
  z-index: 6;
}

.copy{
  padding-bottom: 25px;
}

.card1{
  display: flex;  
  position: relative;
  gap: 18px;
  z-index: 10;
  }
  
  .facebook:hover{
    background-color: #3d77cf;
    border-radius: 10px; 
  }
  
  .instagram:hover{
    background-color: #7a2d63;
    border-radius: 10px; 
  }
  
  .youtube:hover{
    background-color: #852121;
    border-radius: 10px;
  }
  
  .twitter:hover{
    background-color: #b480cc;
    border-radius: 10px;
  }


 /*MEDIA QUERY*/
 @media (max-width: 480px){
  .logo{
    position: relative;
    left: -30px;
    width: 40px;
    margin-right: 10px;
  }

  .menu{
    font-size: 10px;
    gap: 8px;
    position: relative;
    right: 40px;
  }

  .login{
    width: 3.5rem;
    height: 2rem;
    font-size: 8px;
    position: relative;
    left: 25px;
  }

  .login1{
    width: 30px;
    margin-left: 50px;
  }

  .bar{
    display: none;
  }

  h1{
    font-size: var(--h2-32);
  }

  .grupo-info{
    width: fit-content;
  }

  .caixa-menor{
    font-size: 12px;
  }

  .sub-titulo{
    font-size: 14px;
  }

  img{
    width: 50%;
  }

  ul{
    grid-template-columns: 1fr 1fr;
  }

  li{
    font-size: 10px;
  }

  .caixa-maior{
    width: 90%;
  }

   /*fotter*/
   .card1{
    position: relative;
    top: -5px;
  }

  .copy{
    padding-bottom: 50px;
  }

  .facebook, 
  .instagram, 
  .youtube, 
  .twitter{
    width: 30px;
  }
 }


 @media (min-width: 481px) and (max-width:649px){
  .logo{
    width: 60px;
  }

  .menu{
    width: 30%;
    font-size: 14px;
    gap: 8px;
    position: relative;
    right: 45px;
  }

  .login{
    width: 6.0rem;
    font-size: 14px;
    position: relative;
    left: 20px;
  }

  .login1{
    width: 35px;
    margin-left: 40px;
  }


  .bar{
    display: none;
  }

  h1{
    font-size: var(--h2-32);
  }

  .grupo-info{
    width: fit-content;
  }

  .caixa-menor{
    font-size: 14px;
  }

  .sub-titulo{
    font-size: 16px;
  }

  img{
    width: 50%;
  }

  ul{
    grid-template-columns: 1fr 1fr;
  }

  li{
    font-size: 12px;
  }

  .caixa-maior{
    width: 90%;
  }

  /*fotter*/
  .card1{
    position: relative;
    top: -5px;
  }

  .copy{
    padding-bottom: 50px;
  }

  .facebook, 
  .instagram, 
  .youtube, 
  .twitter{
    width: 35px;
  }
 }


 @media (min-width: 650px) and (max-width:767px){
  .logo{
    width: 60px;
  }

  .menu{
    font-size: 14px;
    gap: 8px;
    position: relative;
    right: 45px;
  }

  .login{
    width: 6.0rem;
    font-size: 14px;
    position: relative;
    left: 20px;
  }

  .login1{
    width: 40px;
    margin-left: 40px;
  }
  
  h1{
    font-size: 3rem;
  }

  .grupo-info{
    width: fit-content;
  }

  .caixa-menor{
    font-size: 1rem;
  }

  .sub-titulo{
    font-size: 18px;
  }

  img{
    width: 50%;
  }

  ul{
    grid-template-columns: 1fr 1fr;
  }

  li{
    font-size: 14px;
  }

  .caixa-maior{
    width: 90%;
  }

  /*fotter*/
  .card1{
    position: relative;
    top: -5px;
  }

  .copy{
    position: relative;
    padding-bottom: 50px;
  }

  .facebook, 
  .instagram, 
  .youtube, 
  .twitter{
    width: 40px;
  }
 }


 @media(min-width: 768px) and (max-width: 1024px){
  .menu{
    font-size: 1rem;
    gap: 10px;
    position: relative;
    right: 45px;
  }

  .login{
    width: 6.0rem;
    font-size: 14px;
    position: relative;
    left: 20px;
  }

  .login1{
    margin-left: 40px;
  }

  .bar-list{
    width: 15px;
    height: 5px;
    position: relative;
    left:10px;
  }

  h1{
    font-size: 3rem;
  }

  .grupo-info{
    width: fit-content;
  }

  .caixa-menor{
    font-size: 1.25rem;
  }

  .sub-titulo{
    font-size: var(--h3-24);
  }

  img{
    width: 50%;
  }

  li{
    font-size: 1rem;
  }

  .caixa-maior{
    width: 90%;
  }

  /*fotter*/
  .card1{
    position: relative;
    top: -5px;
  }

  .copy{
    padding-bottom: 50px;
  }
 }


 @media(min-width: 1025px) and (max-width: 1350px){
  .logo{
    margin-right: 0px;
  }

  .menu{
    width: 35%;
    font-size: 1rem;
  }

  h1{
    font-size: 3rem;
  }

  .grupo-info{
    width: fit-content;
  }

  .caixa-menor{
    font-size: var(--h3-24);
  }

  .sub-titulo{
    font-size: 26px;
  }

  img{
    width: 60%;
  }

  li{
    font-size: 1rem;
  }

  .caixa-maior{
    width: 95%;
  }

  
 }